---
import fs from "fs";
import path from "path";
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
const jsonDirectory = path.join(process.cwd(), "src/data");
const fileNames = fs.readdirSync(jsonDirectory).map((filename) => {return filename.split(".")[0]})
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <ul>
    {fileNames.map((fileName) => <li><a href={"daily/" + fileName}>{fileName}</a></li>)}
    
  </ul>
</BaseLayout>